@media print {
    body * {
      visibility: hidden;
    }
    .print-container {
      visibility: visible;
      width: 100%;
    }
    .print-container * {
      visibility: visible;
    }
    .exclude-print {
        display: none !important;
    }
  }